:root {
  /*文本*/
  --my-text-color: #3F4254;
  /*备注*/
  --my-describe-color: #B5B5C3;
  /*灰色*/
  --my-gray-color: #F5F7FA;


  /*基础*/
  --my-base-color: #409EFF;

  /*成功*/
  --my-success-color: #67C23A;
  /*成功-1*/
  --my-success-one-color: #07c160;
  /*成功-2*/
  --my-success-two-color: #24936E;


  /*警告*/
  --my-warning-color: #E6A23C;
  /*警告-1*/
  --my-warning-one-color: #FAAB0C;


  /*错误*/
  --my-error-color: #F56C6C;
  /*错误*/
  --my-error-one-color: #EE0A24;

  --my-error-two-color: #EF6F48;
}
